

img {
    width: 16%;
    height: auto;
    margin: 0;
    
}

.list img:nth-last-child(1) {
    width: 40%;

}

.list img:nth-last-child(n+6) {
    width: 5%;
    border: red solid 3px;
    ;

}


.list {
    display: flex;
    flex-wrap: wrap-reverse;
    width: 100%;
    height: 40rem;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 0.8rem;
    align-items: space-between;
}

.list {
    display: flex;

